<ion-content>
  <div padding>
    <h3>Categories</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar class="apparel">
            <div>
              <ion-img src="../../../assets/icon/fashion.svg"></ion-img>
            </div>
            <ion-label>Apparel</ion-label>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar class="beauty">
            <div>
              <ion-img src="../../../assets/icon/lipstick.svg"></ion-img>
            </div>
            <ion-label>Beauty</ion-label>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar class="shoes">
            <div>
              <ion-img src="../../../assets/icon/high-heel.svg"></ion-img>
            </div>
            <ion-label>Shoes</ion-label>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar [routerLink]="['/home/categories']">
            <div>
              <ion-img
                src="../../../assets/icon/arrow-point-to-right.svg"
              ></ion-img>
            </div>
            <ion-label>See All</ion-label>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-margin-top" padding>
    <h3>Latest</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let product of products">
          <ion-card [routerLink]="['/home/lastProducts/', product._id]">
            <ion-img [src]="product.imageUrl"></ion-img>
            <ion-card-content>
              <ion-card-subtitle> {{ product.name }} </ion-card-subtitle>
              {{ product.price | currency }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
