.category-icon {
  width: 2rem;
}

ion-avatar.shoes {
  background: #91ee4b;
}

ion-avatar.apparel {
  background: #ff9460;
}

ion-avatar.beauty {
  background: #6abafe;
}

ion-avatar div {
  padding: 8px;
}
ion-avatar {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

ion-label {
  font-size: 13px;
  font-weight: lighter;
}
