<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Apparel Categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="!showSkelton">
      <ion-col size="6" *ngFor="let product of apparelProducts">
        <ion-card [routerLink]="['/home/lastProducts/', product._id]">
          <ion-img [src]="product.imageUrl"></ion-img>
          <ion-card-content>
            <ion-card-subtitle> {{ product.name }} </ion-card-subtitle>
            {{ product.price | currency }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Skeleton screen -->
  <div class="custom-skeleton" *ngIf="showSkelton">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-skeleton-text
              style="width: 100%; height: 5rem"
              animated
            ></ion-skeleton-text>
            <ion-card-content>
              <ion-card-subtitle>
                <ion-skeleton-text animated></ion-skeleton-text
              ></ion-card-subtitle>
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
