.share {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  color: black;
}

.share ion-icon {
  background: #727c8e;
  border-radius: 2rem;
  color: white;
}

ion-icon {
  background: white;
  border-radius: 2rem;
}
